<html>
    <head>
        <title>Node Js</title>
        <link href="../assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
         <!-- To Include Navigation as Partial Template -->
         <%- include('partials/nav.ejs') -%>
         <h2>Thank you for Contaction us...</h2>
         <h1>
             we will contact you soon. Good day <%= data.who %>
         </h1>
    </body>
</html>