<html>
    <head>
        <title>Node Js</title>
        <link href="../assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
         <!-- To Include Navigation as Partial Template -->
         <%- include('partials/nav.ejs') -%>
        <h1>
            Welcome to Node Js Learnings !!
        </h1>
        <h2>Home Page...</h2>
    </body>
</html>