body {
  background: #ffffff;
  color: #130b0b;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    display: block;
    color: blue;
    font-size: 14px;
    font-style: italic;
}

input {
    width: 400px;
    height: 30px;
}

button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

ul > li {
  color: black;
  font-style: italic;
}